<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	id="WebApp_ID" version="2.5">
	<display-name>vigionline</display-name>
	<welcome-file-list>
		<welcome-file>/WEB-INF/views/index.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>jersey</filter-name>
		<filter-class>com.sun.jersey.spi.container.servlet.ServletContainer</filter-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>vigionline</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.feature.Redirect</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.property.JSPTemplatesBasePath</param-name>
			<param-value>/WEB-INF/views</param-value>
		</init-param>

		<init-param>
			<param-name>com.sun.jersey.config.property.WebPageContentRegex</param-name>
			<param-value>/(images|js|views|css|styles)/.*</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ResourceFilters</param-name>
			<param-value>com.sun.jersey.api.container.filter.RolesAllowedResourceFilterFactory</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>jersey</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>vigionline.vce.stream.virtual.CameraConnectionContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>vigionline.vce.record.RecordContextListener</listener-class>
	</listener>

	<!-- BEGIN Security definitions -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>vigionline</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>

		<auth-constraint>
			<role-name>admin</role-name>
			<role-name>user</role-name>
		</auth-constraint>

		<user-data-constraint>
			<!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>vigionline</realm-name>
		<form-login-config>
			<form-login-page>/WEB-INF/views/logon.jsp</form-login-page>
			<form-error-page>/WEB-INF/views/logon.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<error-page>
    	<error-code>404</error-code>
    	<location>/WEB-INF/views/not_found.jsp</location>
	</error-page> 
	<error-page>
    	<error-code>403</error-code>
    	<location>/WEB-INF/views/not_authorized.jsp</location>
	</error-page> 
	<!-- END Security definitions -->
</web-app>